@charset "utf-8";

main{font-family: 'Nanum Gothic', sans-serif;}

/* header */
header{
    width: 100%; min-width: 1200px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    left: 0; 
    top: 0;
    z-index: 1
}
.header-wrap{
    width: 1200px; 
    height: 130px; 
    margin: 0 auto
}
.header-wrap h1{
    float: left;
    width: 200px; 
    height: 53px; 
    margin: 39px 0
}
.header-wrap h1>a{
    display: block; 
    width: 100%; 
    font-size: 22px;
    color: #fff;
    height: 69px;
    text-indent: -9999px
}

#gnb{
    float: right;
    height: 130px
}
#gnb>ul{}
#gnb>ul>li{float: left}
#gnb>ul>li+li{padding-left: 25px}
#gnb>ul>li>a{
    opacity: 0.8;
    font-size: 16px;
    color: #fff; 
    line-height: 130px
}
#gnb>ul>li:hover a{
    opacity: 1; color: #fff; 
    transition: all 0.3s 0s;
    text-decoration: none
}

.indicator{
    margin-top: -92px;
    position: fixed;
    top: 50%; 
    right: 50px; 
    z-index: 2;
}
.indicator>li{
    width: 12px;
    height: 12px;
    opacity: 0.1;
    position: relative;
    margin-bottom: 14px;
    border-radius: 30%;
    background-color: #111;
    transition: all 0.3s 0s
}
.indicator>li>a{
    display: block;
    width: 12px;
    height: 12px; 
    opacity: 0;
    transition: all 0.3s
}
.indicator>li>a>span{
    display: block; 
    width: 120px; 
    height: 20px;
    font-size: 12px; 
    color: #333; 
    text-align: right;
    letter-spacing: 1px;
    position: absolute; 
    right: 20px; top: 0;
}
.indicator>li:hover{opacity: 0.8; transform: scale(1.1)}
.indicator>li:hover a{opacity: 0.8}
.indicator>li.on{opacity: 0.8}
.indicator>li.on a{opacity: 0.8; font-weight: 600}


/* video */
#video{
    min-width: 1200px; 
    max-height: 100vh;
    overflow: hidden; 
    position: relative
}
#video>video{
    min-width: 100%; 
    max-height: 100%;
    filter: brightness(0.9)
}
#video>div{
    width: 1200px;
    margin-right: -600px;
    position: absolute; 
    top: 400px; 
    right: 50%;
}
#video>div>p{
    font-family: 'Oswald',sans-serif;
    color: #fff; 
    text-align: center
}
#video .video-tit{
    font-size: 22px; 
    font-style: italic; 
    line-height: 40px; 
    font-weight: 200; 
    letter-spacing: 3px; 
    margin-bottom: 15px; 
    opacity: 0.8
}

#video .video-desc{
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 8px;
    margin-bottom: 20px
}
#video .video-desc em{color: #ffba46;}
#video .video-desc:after {
    content: '';
    display: block; 
    margin: 50px auto 0 auto;
    width: 100px;
    height: 2px; background: #fff;
}
#video .txt-rotate{
    display: block; 
    text-align: center;
}
#video .txt-rotate>.wrap{ 
    font-family: 'Nanum Gothic', sans-serif; 
    font-size: 16px;
    line-height: 60px; 
    color: #eee;
    letter-spacing: 2px
}
.scroll-txt{
    display: block;
    padding-bottom: 55px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);    
}

.scroll-txt:after {
    content: '';
    display: block;
    width: 1px; 
    height: 50px; 
    margin-left: -1px;
    position: absolute; 
    bottom: 0;
    left: 50%;    
    background: #fff;
}

/* common */
.tit{
    margin: 0 auto 10px auto;
    padding-top: 100px;
    font-size: 30px; 
    color: #333; 
    text-align: center; 
    letter-spacing: 1px
}
.desc{
    display: block; 
    margin-bottom: 50px;
    opacity: 0.7;
    font-size: 16px; 
    line-height: 24px; 
    letter-spacing: -1px;
    text-align: center
}

/* about */
#about{width: 1200px; margin: 0 auto}
#about .about-desc{width: 700px; margin: 0 auto}
#about .image{
    float: left; 
    display: block;
    width: 350px; 
    height: 500px; 
    margin-right: 100px;
    background: url(../img/cin.jpg) no-repeat center center;
    background-size: contain;
    text-indent: -9999px

}
#about .mainbox{
    float: left; 
    display: block;
    width: 350px; 
    height: 150px; 
    margin-left: 100px;
    margin-bottom:90px;
    margin-top: 25px;
}
.mainbox h2{
    font-size: 26px;
    font-weight: bold; 
    margin-bottom: 20px;
}

#about .box{
    float: left; 
    display: block;
    width: 150px; 
    height: 200px; 
    margin-right: auto;
}

.introduce{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px
}

/* skillbar */
#about .skill{
    float: inherit; 
    width: 300px;
    height: 500px;
    margin-bottom: 100px;
    margin-top: 95px;
    margin-left: 900px;
 
}

.skill h2{
    font-size: 26px;
    font-weight: bold; 
    margin-bottom: 20px;
}
.skill p{
    display: inline-block;
    width: 300px;
    margin-bottom: 0;
    color: #333;
    font-weight: bold;
    text-align: initial;
    font-size: 12px;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:20px;
	width:350px;
    height:25px;
	background:#eee;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-bar {
    width: 0px;
	height: 25px;
    background-color: #6482FF;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.skill-bar-percent {
	position:relative;
    height:20px;
	font-size:12px;
	text-align: right;
	line-height:20px;
	color:rgba(0, 0, 0, 0.4);
}

/* Java Swing */
#javaSwing{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: url(../img/back1.png) no-repeat 0 0;
}

.javaSwing-desc{
    width: 1000px;
    margin: 0 auto;
}
.javaSwing-desc1{
    float: left; 
    display: block; 
    padding-right: 
}
.javaSwing-desc2{
    float: right;
    display: block;
}
.javaSwing-desc3{
    float: left;
    display: block;
}
.javaSwing-desc4{
    float: right;
    display: block;
}


.javaSwing-desc img{
    width: 420px;
    height: 320px;
}
.thumb-img{
    transition: all 0.3s 0s
}
.thumb-img:hover{transform: scale(1.02)}
.thumb-img>img{box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
.thumb-txt{display: inline-block}
.thumb-txt>p{
    display: block; 
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 600;
    color: #72726c;
    line-height: 30px;
     margin-top: 10px;
}
.thumb-txt>em{
    display: inline-block;
    margin-bottom: 20px; height: 16px;
    font-size: 16px; 
    color: rgba(51, 51, 51, 0.6); 
    line-height: 16px; 
     margin-top: 10px;
}
.thumb-btn{
    display: block; 
    float: right;
    width: 140px;
    height: 40px;
    font-size: 16px; 
    color: rgba(51, 51, 51, 0.6); 
    line-height: 40px; 
    text-align: center;
    margin-top: 10px;
    border: 1px solid rgba(51, 51, 51, 0.6)
}
.thumb-btn:hover{background-color: rgba(51, 51, 51, 0.6); border: 0}
.thumb-btn:hover a{color: #deeeed; text-decoration: none}


/* footer */
footer{
    width: 100%; 
    height: 450px; 
    min-width: 1200px;
    font-family: 'Nanum Gothic', sans-serif;
    background-size: cover;
    position: relative
}

footer>div{width: 100%; height: 450px;
    background-color: rgba(0,0,0,0)
}
#footer{
    float: inherit;
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box;
    color: #000;
    position: relative; 
    top: 0px;
    border-top:1px solid #d3d3d3;
}
.contactme{
    height: 26px;
    font-size: 34px;
    font-weight: 200;
    line-height: 26px;
    margin-top: 70px;
    text-align: center
}
.infoMainBox{
    width: 100%; 
    height: 120px; 
    margin-bottom:180px;
    margin-top: 20px; 
    transform: translate(40%,25%);
}
.infoBox{
    float: left;
    width: 250px; 
    height: 100%; 
}
.tailBox{
    float: inherit;
    width: 100%;
    min-width: 1200px; 
    height: 60px;
    background: #212121;
    text-align: center;
}
.infoBox h2{
    font-size: 26px;
    font-weight: bold; 
}
.infoBox p{
    font-size: 18px;
}

#footer hr{
    width:100%;
    height:2px; 
}
.image{
    float: left; 
    display: block;
    width: 300px; 
    height: 200px; 
    margin-right: 10px;
    background: url(../img/cin3.jpg) no-repeat center center;
    background-size: contain;
    text-indent: -9999px
}
#footer>address{
    margin-top: 40px;
    font-size: 16px; color: rgba(255,255,255,0.6); line-height: 22px; text-align: center
}
#footer>p:nth-of-type(2){
    margin-top: 115px;
    font-size: 16px; color: rgba(255,255,255,0.4); line-height: 22px; text-align: center
} 
