

.svg_main {
    width: 800px;
    height: 100%;
    position:absolute;

}

 
#svg {
  margin: 10px;
  position:absolute;
  left:10px;
  top:10px;
}



.neon-wash{
  -webkit-animation: washout 3s ease-in-out 4.25s 12;   
  -moz-animation: washout 3s ease-in-out 4.25s 12;  
  -o-animation: washout 3s ease-in-out 4.25s 12;  
  animation: washout 3s ease-in-out 4.25s 12;  
  stroke-linecap:round;
  stroke-width:5;
  stroke-miterlimit:10;
  opacity:0;
  fill:red;
 
}


@keyframes washout {
      from {
        opacity:.33s;
    }

    50% {
        opacity:1;
    }

    to {
        opacity:.33;
    }
}


@-webkit-keyframes washout {
      from {
        -webkit-opacity:.33s;
    }

    50% {
        -webkit-opacity:1;
    }

    to {
        -webkit-opacity:.33;
    }
}